In [86]:
import pandas as pd
cabinets_df = pd.read_csv("./data/cabinets.csv")
groups_df = pd.read_csv("./data/groups.csv")
professors_df = pd.read_csv("./data/professors.csv")
subjects_df = pd.read_csv("./data/subjects.csv")

groups_df.rename(columns={
    "nr_persoane": "people_count"
}, inplace=True)

subjects_df.rename(columns={
    "unitate_curs": "course",
    "teorie": "theory",
    "practica": "practice",
    "lab": "labs",
    "TOTAL": "projects",
    "anul": "year",
    "semestru": "semester"
}, inplace= True)

# NaN is replaced too
subjects_df.drop(columns=["projects"], inplace=True)
subjects_df['semester'] = subjects_df['semester'].str.split(',')
subjects_df = subjects_df.explode('semester')
subjects_df = subjects_df.astype({"year": int, "semester": int, "theory": int, "practice": int, "labs": int})

cabinets_df.rename(columns={
    "nr_persons": "cabinet_capacity"
}, inplace=True)
cabinets_df["cabinet_capacity"].fillna(30, inplace=True)

one_hot_df = pd.DataFrame(professors_df["type"])

# Creating dummy variables using get_dummies
dummies = one_hot_df['type'].str.get_dummies(sep=',')

# Concatenating the dummy variables with the original DataFrame
one_hot_df = pd.concat([one_hot_df, dummies], axis=1)
professors_df.drop("type", axis=1, inplace=True)
professors_df = pd.concat([professors_df, one_hot_df], axis=1)

,id,name,subject,mon_per_1,mon_per_2,mon_per_3,mon_per_4,mon_per_5,mon_per_6,mon_per_7,...,sat_per_2,sat_per_3,sat_per_4,sat_per_5,sat_per_6,sat_per_7,type,LAB,PRACT,TEOR
0,1,John Withcer,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,"TEOR,PRACT",0,1,1
1,2,Antonino Pizelato,2,1,1,1,1,1,1,1,...,0,0,0,0,0,0,"TEOR,PRACT",0,1,1
2,3,Karlas Nasar,3,1,1,1,1,1,1,1,...,1,1,1,1,1,1,"TEOR,PRACT",0,1,1
3,4,Michael Phelps,4,0,0,0,0,0,0,0,...,1,1,1,1,1,1,"TEOR,PRACT",0,1,1
4,5,Usain Bold,5,0,0,0,0,0,0,0,...,1,1,1,1,1,1,"TEOR,PRACT",0,1,1

Create the currently existent timetable into a matrix for each academic group.

TI-224 -> [

    // Monday

    [

        // 8:00 - 9:30

        [None, {}, {}, {}]

        // 9:45 - 11:15

        [None, {}, {}, {}]

        // 11:30 - 13:00

        [None, {}, {}, {}]

    ]
    
]

In [87]:
# get first year first semester only
subjects_df = subjects_df[(subjects_df["year"] == 1) & (subjects_df["semester"] == 1)]

from dataclasses import dataclass

@dataclass
class Lesson:
    subject: str
    type: str
    groups: list
    professor: str
    cabinet: str

In [88]:
# solution DF
df = pd.DataFrame(columns=["lesson_number","subject", "type", "groups", "professor", "cabinet"])
cabinet_schedule_df = pd.DataFrame(columns=["cabinet", "day", "lesson_number", "available"])

In [89]:
def step_wave_function_collapse(df: pd.DataFrame, subjects_df: pd.DataFrame, groups_df: pd.DataFrame, professors_df: pd.DataFrame, cabinets_df: pd.DataFrame, cabinet_schedule_df: pd.DataFrame):
    for subject in subjects_df.head().iterrows():
        print(subject)

In [90]:
subjects_df.head()

,id,course,theory,practice,labs,year,semester
0,1,AM1,30,30,0,1,1
2,3,ALGA,30,15,0,1,1
3,4,PC,30,30,30,1,1
4,5,PSA,30,15,15,1,1
5,6,Etica și integritatea academică/ Psihologie in...,30,0,0,1,1